  <script defer src="/js/checklist.js"></script>

  <div class="checkListCont">

  <div class="checklist" id={{id}}>
    <div >
    Привет, <b id="userName" >{{user}}! </b>
    </div>
    <p>
      И добро пожаловать в команду Высокогорья!
    </p>
    Впереди нас ждет интересное путешествие в мир нашей компании, и самым главным проводником будет- <div ><b id="mentorName">{{mentor}} </b> </div>

    Мы подготовили для тебя чек-лист на первый день. Процесс выполнения будет сохраняться, поэтому
    ты можешь закрывать пункты в удобном для тебя порядке.


    <form name="checklistForm">
      <h3>Нужно подготовить твое рабочее место:</h3>
      <p>
        <input type="checkbox" class="checkbox" {{#if ch1}}checked{{/if}} data-name=ch1 name="ch1" /> Наставник выдал
        мне пропуск
      </p>
      <p>
        <input type="checkbox" class="checkbox" {{#if ch2}}checked{{/if}} data-name=ch2 name="ch2" />Наставник сообщил
        пароль от Wi-Fi
      </p>
      <p>
        <input type="checkbox" class="checkbox" {{#if ch3}}checked{{/if}} data-name=ch3 name="ch3" />Системный
        администратор выдал мне ноутбук
      </p>
      <p>
        <input type="checkbox" class="checkbox" {{#if ch4}}checked{{/if}} data-name=ch4 name="ch4" /> Системный
        администратор выдал мне доступы к почте
      </p>
      <p>
        <input type="checkbox" class="checkbox" {{#if ch5}}checked{{/if}} data-name=ch5 name="ch5" />Ты отправил(-а)
        офис-менеджеру на почту список необходимой для тебя канцелярии
      </p>

      <h3>Важно познакомиться с коллегами:</h3>

      <p>
        <input type="checkbox" class="checkbox" {{#if ch6}}checked{{/if}} data-name=ch6 name="ch6" /> Ты познакомился
        (-ась) со своим руководителем
      </p>
      <p>
        <input type="checkbox" class="checkbox" {{#if ch7}}checked{{/if}} data-name=ch7 name="ch7" /> Ты написал(-а)
        сообщение в командный чат

      </p>
      <p>
        <input type="checkbox" class="checkbox" {{#if ch8}}checked{{/if}} data-name=ch8 name="ch8" /> Напиши имена трех
        твоих коллег по отделу: <input type="text" name="mates" data-name=mates {{#if mates}}value={{mates}}{{/if}}>

      </p>

      <h3>Важно пройти оформление в отделе кадров:</h3>

      <p>
        <input type="checkbox" class="checkbox" {{#if ch9}}checked{{/if}} data-name=ch9 name="ch9" /> Ты отправил (-а)
        сканды документы на оформление в отдел кадров
      </p>
      <p>
        <input type="checkbox" class="checkbox" {{#if ch10}}checked{{/if}} data-name=ch10 name="ch10" /> Ты подписал
        (-а) соглашение о коммерческой тайне
      </p>

      <h3>А теперь самое время работать:</h3>

      <p>
        <input type="checkbox" class="checkbox" {{#if ch11}}checked{{/if}} data-name=ch11 name="ch11" /> Получи свою
        первую задачу у руководителя
      </p>
      <p>
        <input type="checkbox" class="checkbox" {{#if ch12}}checked{{/if}} data-name=ch12 name="ch12" /> Создай подпись
        в почте по корпоративному шаблону
      </p>

    </form>
    {{#if userId}}
    <form name="changeListEmployeer">
    <div class="editinputs">
      <input type="text" name="userName" class="form-control" id="exampleInputEmail1" placeholder="имя сотрудника">
    </div> 
    <div class="editinputs">
      <input type="text" name="mentorName" class="form-control" id="exampleInputPassword1" placeholder="имя наставника">
      <button type="submit" class="btn btn-primary addChB">Изменить</button>
    </div> 
  </form>
  <br>
    <a href="/mainPage"><button type="submit" class="btn btn-primary addChB">Вернуться на главную</button>
 </a>  
  {{/if}}
  </div>
  <div>
   Классного путешествия! <br>
    Команда Высокой горы 💚

  </div>

   </div>

  

