<div class="container">
  <h1>Высокая гора</h1>
  <img src="/img/mountain.png" alt="logo">
  <button class="enterButton"><a href="/login">Войти</a></button>
  <h3>Привет! Это корпоративный портал ООО “Высокая Гора”. Чтобы получить доступ к сайту - обратись в департамент HR.
  </h3>
</div>
