<div class="container">
  <div class="headercontainer">
    <img src="/img/mountain.png" alt="logo" class="logo">
    <h1>Высокая гора</h1>
  </div>
  <div class="container">
  <h3>Привет! Это корпоративный портал ООО “Высокая Гора”. <br> Чтобы получить доступ к сайту - обратись в департамент HR.
  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <button type="submit" class="enterButton">Login</button>
  </form>
</div>
  </h3>
</div>
