
  <div class="headercontainer">
    <img src="/img/mountain.png" alt="logo" class="logo">
    <div class="headertitle">Высокая гора</div>
  </div>
  <div class="container">
    <div class="indexHeader">Привет! Это корпоративный портал ООО “Высокая Гора”. </br> Чтобы получить доступ к сайту - обратись в департамент HR.</div>
    <form action="/login" method="POST" class="enterForm">
  <div class="mb-2">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
  </div>
  <div class="mb-4">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <button type="submit" class="btn btn-success">Войти</button>
</form>
  </div>
